{% extends 'technicien/base.html' %}
{% block title %}EasyLife | Profile{% endblock %}
{% load static %}
{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}

{% block content %}
  <div class="container">
    <div class="main-body" >
          <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
              <div class="card" style="background-color:#eee;">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                    <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150">
                    <div class="mt-3">
                      <h4>{{object.nom}}  {{object.prenom}}</h4>
                      <p class="text-secondary mb-1">{{object.email}}</p>
                      <p class="text-muted font-size-sm">Telephone :{{object.tel}} </p>
                      <br><br><br><br><br><br><br><br><br><br>
                      <a class="btn btn-primary"  href="{%url 'update' %}">Modifier profile</a>  
                      <a class="btn btn-primary" href="{%url 'destroy' %}">Supprimer Mon compte</a>
                      <br><br><br><br>
                    </div>
                  </div>
                </div>
              </div>
              
            </div>
            <div class="col-md-8">
              <div class="card mb-3" style="background-color:#eee;">
                <div class="card-body">
                  <div class="row">
                      
                    <div class="col-sm-3">
                      <h6 class="mb-0">Nom</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{object.nom}}
                    </div>
                  </div>
                  <hr style="border-top: 1px solid black;">
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Prénom</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{object.prenom}}
                    </div>
                  </div>
                  <hr style="border-top: 1px solid black;">
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Email</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{object.email}}
                    </div>
                  </div>
                  <hr style="border-top: 1px solid black;">
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Tel</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{object.tel}}
                    </div>
                  </div>
                  <hr style="border-top: 1px solid black;">
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">CIN</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{object.cin}}
                    </div>
                  </div>
                  <hr style="border-top: 1px solid black;">
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Ville</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{object.ville}}
                    </div>
                  </div>
                  <hr style="border-top: 1px solid black;">
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Diplome</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{object.diplome}}
                    </div>
                  </div>
                  <hr style="border-top: 1px solid black;">
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Domaine</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{object.domaine}}
                    </div>
                  </div>
                </div>
              </div>
              
               
              </div>
            </div>
          </div>
        </div>
    </div>
   


   {%endblock%}
